<h1 class="mb-4">Reference Links</h1>

<ul class="list-unstyled">
    <li class="mb-2">
        <a href="https://www.google.com" target="_blank" class="btn btn-outline-primary d-inline-block">Google</a>
    </li>
    <li class="mb-2">
        <a href="https://www.wikipedia.org" target="_blank" class="btn btn-outline-primary d-inline-block">Wikipedia</a>
    </li>
    <li class="mb-2">
        <a href="https://www.github.com" target="_blank" class="btn btn-outline-primary d-inline-block">GitHub</a>
    </li>
</ul>
