<div class="d-flex flex-column flex-shrink-0 p-3 bg-light text-dark" style="width: 280px;">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let item of navItems">
          <a 
              [routerLink]="item.link" 
              class="nav-link" 
              [ngClass]="{'active': selectedLink === item.link}" 
              (click)="setActive(item.link)"
              aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use [attr.xlink:href]="item.icon"/></svg>
              {{ item.label }}
          </a>
      </li>
  </ul>
  <hr>
</div>
