<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-add-sample (addSampleEvent)="addSample($event)"></app-add-sample>
      <br>
      <br>
      <h2>Sample List</h2>
      <div *ngIf="this.samples.length == 0; else elseBlock"> No Samples Present</div>
      <ng-template #elseBlock>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sample of samples">
              <td>{{ sample.name }}</td>
              <td>{{ sample.description }}</td>
              <td>{{ sample.price }}</td>
              <td>
                <button (click)="onDelete(sample)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
